@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --primary-color: #7ad3ff;
    --background-color: #000000;
    --background-color-2: #1d1c66;
    --text-color: white;
    --background-header: #090925;
    --glow-color: rgba(20, 239, 255, 0.7);
    --background-icons: #101029;
}

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient( var(--background-color), var(--background-color-2));

}

/* ------------------ HEADER SECTION ------------------ */
header {
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 1000;
    background-color: var(--background-header);
    color: white;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: padding 0.3s ease;
}

#idiomaSite {
    font-size: 1rem;
    font-weight: bold;
    background: transparent;
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 1px;
    margin-right: 40px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#idiomaSite:hover {
    background-color: var(--primary-color);
    border: 3px solid var(--primary-color);
    color: white;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Ajuste de gap */
}

.logo {
    height: 50px;
    padding-left: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.8s ease;
    position: relative;
}

nav ul a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.6s ease;
}

nav ul a:hover {
    color: var(--primary-color);
}

nav ul a:hover::after {
    transform: scaleX(1);
}

nav ul a.active {
    color: var(--primary-color);
}

nav ul a.active::after {
    transform: scaleX(1);
}

/* RESPONSIVIDADE NO HEADER */
@media (max-width: 1025px) {
    header {
        position: relative;
        padding: 10px 15px;
        flex-direction: column;
        height: auto;
        justify-content: center;
        text-align: center;
        background-color: var(--background-icons);
    }

    .logo-container {
        margin-bottom: 10px;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    nav ul a {
        font-size: 1.1rem;
        padding: 8px 12px;
    }

    #idiomaSite {
        margin-right: 0;
        margin-top: 10px;
        font-size: 0.9rem;
    }
}

/* ------------------ ICONS SOCIAL ------------------ */

.icons-social {
    padding: 10px;
}

.icons-social img {
    width: 50px;
    padding: 10px;
    background-color: transparent;
    margin: 4px;
    border-radius: 13px;
    transform: scale(1);
    transition: transform 1s ease, background-color 1s ease;
    text-decoration: none;
}

.icons-social img:hover {
    background-color: var(--primary-color);
    transform: scale(1.2);
}


/* ------------------ HOME SECTION ------------------ */

#home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 20px;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1200px;
    width: 100%;
}

.home-foto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-foto img {
    width: 350px;
    height: 370px;
    background-color: var(--background-header);
    border: 5px solid var(--primary-color);
    border-radius: 5px;
    box-shadow: 0 0 200px 10px var(--glow-color);
    margin-bottom: 30px;
}

.home-texto {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    padding: 35px;
    margin-left: 100px;
    gap: 26px;
}

#home-section h1,
#home-section p,
#cv-btn {
    margin: 0;
}

h1 {
    color: #ffffff;
}

#fullstack {
    color: var(--primary-color);
}

p {
    color: #ffffff;
    font-size: 1.2rem;
    text-align: justify;
}

#cv-btn {
    font-size: 1rem;
    font-weight: bold;
    background: linear-gradient(var(--background-color), var(--background-color-2));
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    padding: 15px 25px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 1s ease, background-color 1s ease;
}

#cv-btn:hover {
    background: var(--primary-color);
    border: 3px solid var(--primary-color);
    color: white;
    transform: scale(1.1);
}


/* ------------------ SOBRE MIM SECTION ------------------ */

#sobremim-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.sobremim-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 1200px;
    width: 100%;
}

#sobremim-titulo {
    text-align: center;
    font-size: 25px;
    margin-bottom: 40px;
}

#sobremim-titulo h1 {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.sobremim-foto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sobremim-foto img {
    text-align: center;
    width: 350px;
    height: 350px;
    background-color: var(--primary-color);
    border: 5px solid var(--primary-color);
    border-radius: 15px;
    box-shadow: 0 0 200px 10px var(--glow-color);
    margin-bottom: 30px;
}

.sobremim-texto {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin-right: 100px;
}

.sobremim-texto p {
    margin: 0;
}

/* ------------------ HABILIDADES SECTION ------------------ */

#habilidades-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}

#habil-titulo {
    text-align: center;
    font-size: 25px;
    margin-bottom: 40px;
}

#habil-titulo h1 {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.habil-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1200px;
    width: 100%;
}

#tecs, #tecs2, #tools {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.habil-icons {
    width: 100px;
    height: 100px;
    flex-direction: column;
    background-color: var(--background-icons);
    border: 5px solid #07071b;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s ease; 
    overflow: hidden;
    position: relative;
}

.habil-icons:hover {
    box-shadow: 0 0 10px 10px var(--glow-color);
    transform: scale(1.2);
}

.habil-icons img {
  transition: transform 0.3s ease;
}

.tec-name {
    height: 0;
    opacity: 0;
    margin-top: 5px;
    font-size: 13px;
    font-weight: bold;
    color: white;
    transition: opacity 0.3s ease, height 0.3s ease;
    overflow: hidden;
}

.habil-icons:hover .tec-name {
    height: 18px;
    opacity: 1;
}

/* ------------------ PROJETOS SECTION ------------------ */

#projetos-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}

#proj-titulo {
    text-align: center;
    font-size: 25px;
    margin-bottom: 40px;
}

#proj-titulo h1 {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.proj-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-proj, .div-proj2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.div-proj2 {
    margin-top: 50px;
}

.proj-cards {
    background: linear-gradient(var(--background-color), #121249);
    border: 5px solid var(--primary-color);
    border-radius: 4px;
    width: 510px;
    height: 650px;
    padding: 20px;
    box-shadow: 0 0 10px #00000050;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-photo {
    background-color: white;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.card-img {
    width: 100%;
    height: 250px;
    border: white 3px solid;
    box-shadow: 0 0 5px 1px white
}

.proj-cards h3 {
    color: var(--primary-color);
    margin: 0 0 10px 0;
    font-size: 30px;
    font-weight: bold;
}

.proj-cards p {
    color: white;
    margin-bottom: 30px;
    font-weight: bold;
    
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 12px;
    gap: 20px;
}

.tags p {
    background-color: var(--primary-color);
    color: rgb(24, 24, 62);
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    cursor: pointer;
    transform: scale(1);
    transition: transform 1s ease, background-color 1s ease;
}
.tags p:hover {
    background-color: var(--primary-color);
    transform: scale(1.2);
}

.actions {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    
}

.actions-link {
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    display: inline-flex;
    gap: 8px;
    text-decoration: none;
    background: linear-gradient(#0a0925, #1d1c66);
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    border-radius: 7px;
    padding: 10px 15px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 1s ease, background-color 1s ease;
  
}

.actions-link:hover {
    background: var(--primary-color);
    border: 3px solid var(--primary-color);
    color: white;
    transform: scale(1.1);

}

/* -------------------- CELULARES ---------------------- */
@media (max-width: 768px) {
    #home-section {
        padding: 80px 20px;     
    }

    .home-container {
        flex-direction: column;     
        gap: 20px;
    }

    .home-foto img {
        width: 250px;   
        height: 250px;
        margin-bottom: 20px;
    }

    .home-texto {
        max-width: 100%; 
        margin-left: 0;
        padding: 20px;
    }

    h1 {
        font-size: 1.4rem;
    }

    p {
        font-size: 1rem; 
    }

    #cv-btn {
        width: 100%; 
        padding: 12px 20px;
        font-size: 0.9rem;
    }

    .icons-social {
        display: flex;
        justify-content: center;
        gap: 15px;  
    }

    .icons-social img {
        width: 45px;  
        padding: 8px;
    }

    /* SOBRE MIM */
    #sobremim-section {
        padding: 10px;
    }

    .sobremim-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .sobremim-foto img {
        width: 250px;
        height: 250px;
    }

    .sobremim-texto {
        margin-right: 0;
        max-width: 100%;
        text-align: center;
    }

    #sobremim-titulo h1 {
        font-size: 22px;
    }
    
    /* HABILIDADES */
    
}

/* ---------------------- TABLETS -------------------- */

@media (min-width: 768px) and (max-width: 1024px) {
    .home-container {
        flex-direction: row;
        gap: 30px;
    }

    .home-foto img {
        width: 300px; 
        height: 320px;
    }

    .home-texto {
        max-width: 500px; 
        margin-left: 0;
    }

    h1 {
        font-size: 1.6rem; 
    }

    p {
        font-size: 1.1rem;  
    }

    #cv-btn {
        width: auto;
        padding: 15px 30px;
        font-size: 1rem;
    }

    .icons-social {
        justify-content: flex-start;
        gap: 20px;
    }

    .icons-social img {
        width: 45px; 
        padding: 9px;
    }

    /* SOBRE MIM */

    .sobremim-container {
        flex-direction: row-reverse;
        gap: 30px;
    }

    .sobremim-foto img {
        width: 300px;
        height: 300px;
    }

    .sobremim-texto {
        max-width: 500px;
        margin-right: 80px;
    }

    #sobremim-titulo h1 {
        font-size: 24px;
    }

}