@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --primary-color: #7ad3ff;
    --background-color: #000000;
    --background-color-2: #1d1c66;
    --text-color: white;
    --background-header: #0c0c30;
}

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient( var(--background-color), var(--background-color-2));

}

header {
    background-color: var(--background-header);
    color: white;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#idiomaSite {
    font-size: 1rem;
    font-weight: bold;
    background: transparent;
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 1px;
    margin-right: 40px;
}

#idiomaSite:hover {
    background-color: var(--primary-color);
    border: 3px solid var(--primary-color);
    color: white;
}

.logo {
    height: 50px;
    padding-left: 40px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul a {
    
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 15px;
}

nav ul a:hover {
    color: var(--primary-color);
    border-bottom: var(--primary-color) 2px solid;
}

nav ul a.active {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

#home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; 
  gap: 40px;
  max-width: 1200px;
  width: 100%;
}

.home-foto #foto {
  text-align: center;
  width: 350px;
  height: 350px;
  background-color: var(--primary-color);
  border: 5px solid var(--primary-color);
  border-radius: 15px;
  margin-bottom: 30px;
}

.home-texto {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  padding: 35px;;
  margin-left: 100px;
}

#home-section h1,
#home-section p,
#cv-btn {
    margin: 0;
}

.home-texto {
    gap: 26px; 
}

h1 {
    color: #ffffff;
}

#fullstack {
    color: var(--primary-color);
}
p {
    color: #ffffff;
}


#cv-btn {
    font-size: 1rem;
    font-weight: bold;
    background: linear-gradient(var(--background-color), var(--background-color-2));
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    border-radius: 13px;
    padding: 15px 25px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 1s ease, background-color 1s ease;
}

#cv-btn:hover {
    background: var(--primary-color);
    border: 3px solid var(--primary-color);
    color: white;
    transform: scale(1.1);
}
        
#icons-social img {
    width: 50px; 
    padding: 10px;
    background-color: transparent;
    margin: 4px;
    border-radius: 13px;
    transform: scale(1);
    transition: transform 1s ease, background-color 1s ease;
}

#icons-social img:hover {
    background-color: var(--primary-color);
    transform: scale(1.2);
}

  